@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: "Estedad";
}

@font-face {
    font-family: "Estedad";
    src: local("Estedad") url(./fonts/Estedad-Regular.ttf) format('truetype');
}